@import "tailwindcss";

@theme {
  --color-arena-dark: #050505;
  --color-arena-orange: #FF4D00;
  --color-arena-pink: #FF0055;
  --color-arena-yellow: #FFD700;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-arena-dark);
  color: white;
}
